/* css for calendar */
.calendar {
  font-size:20px;
  font-family: roboto;
}

.calendar td {
  vertical-align: top;
  align:left;
  width:100px;
  height:100px;
}

.date {
  background: #eeeeee;
}

.today {
  background: #99eeee;
}

.empty {
  background: #9E9993;
}

body {
  background: #9E9993;
}
